body {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 24px;
    max-width: 75ch;
    text-align: justify;
    line-height: 1.6;
    overflow-y: scroll;
    background-color: #f4f4f9;
    color: #4a4a4a;
    margin: 0 auto;
    padding: 20px;
}

/* Customize scrollbar */
body::-webkit-scrollbar {
    width: 16px;
}
body::-webkit-scrollbar-track {
    background: #e2e2e2;
}
body::-webkit-scrollbar-thumb {
    background: #6a89cc;
    border-radius: 10px;
}

.tab-content {
    display: block;
    align-self: center;
}

.tab-contents {
    margin-top: 20px;
    padding: 15px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.tab-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    justify-content: center;
}

.tab-button {
    font-family: arial;
    line-height: 1.2;
    color: black;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #d1d8e0;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.tab-button:hover {
    background-color: #b8c6db;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
}

.tab-button.active {
    background-color: #6a89cc;
    color: white;
    box-shadow: 0 4px 15px rgba(106, 137, 204, 0.3);
}

.contents-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.contents-grid button {
    padding: 12px 24px;
    border: 2px solid #5b8db8;
    border-radius: 8px;
    background-color: #a8c1db;
    color: #2a3f55;
    font-size: x-large;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 12px rgba(91, 141, 184, 0.4);
}

.contents-grid button:hover {
    background-color: #8fb1cc;
    transform: translateY(-4px) scale(1.05); /* Lift and slight scaling effect */
    box-shadow: 0 6px 16px rgba(91, 141, 184, 0.5); /* Stronger shadow on hover */
    border-color: #3e6a93; /* Darker blue outline on hover */
}

.contents-grid button:active {
    transform: translateY(2px) scale(0.95); /* Subtle "press" effect */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); /* Reduced shadow on press */
}


.reader {
    max-width: 75ch;
    margin-inline: auto;
}

img {
    display: block;
    width: 80%;
    height: 80%;
    max-width: 80%;
    max-height: 80%;
    margin: 0 auto;
    height: auto;
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Subtle image shadow */
}

/* img {
  display: block !important;
  margin: 0 auto !important;
  width: 65ch !important;
  height: 65ch !important;
  object-fit: contain !important;
} */
